
.navbar-inverse
{
  /*background: transparent;*/
  text-transform: uppercase;
}
 .navbar-inverse .navbar-right > li > a:hover{
   color: red;
 }
 .navbar-inverse .navbar-right .active > a:hover{
   color: red;
 }

body{
padding-top: 200px;
background: url("http://i.imgur.com/rr8eCxf.jpg");
background-repeat: no-repeat;
background-position: top;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: #4682b4;
}
.img-circle{
  margin:0 auto;
}
h3{
  font-size: 35px;
  color: #708090;
}
h2{
  font-weight: bold;
  color: #4682b4;
}
h4{
  font-size: 25px;
}
h5{
  font-size: 20px;
}
hr{
  width: 50%;
  height: 25%;
  padding: 0;
  border: none;
  border-top: medium double #b8860b;
  color: #b8860b;
  text-align: center;
}
hr:after {
  content: '\2665';
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #fff;
}



p{
  text-align: center;
  font-size: 22px;
  color: #777777;
  font-family: 'Slabo', serif;;
padding: 10px;
}
.container{
padding-top: 80px;
}
.row{
  padding-top: 10px;
}

img {
  padding-bottom: 10px;
}
.map{
  height: 500px;
        width: 100%;
}
.icon{
  position: absolute;
  right: 650px;
  top: 570px;
}

.carousel-inner{
  width:100%;
  max-height: 500px !important;
}
.fa-stack:hover{
  background: grey;
  color:#3B5998;
}
.btn.btn-fill{
  color: white;
  background-color: #888888;
  border-radius: 15px;
}
#map {
  height: 500px;
  width: 100%;
}
/* Float the list items side by side */
 p.first {float: left;}

/* Style the links inside the list items */
 p a.tablinks {
    display: inline-block;
      color: #708090;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-weight: bold;

}


/* Change background color of links on hover */
 p a.tablinks:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
 p.first:focus, .active {
    background-color: #ccc;

}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    text-align: center;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    -moz-animation: fadeEffect 1s;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


@media (max-width:500px){
  .wrapper{
    text-align: center;
    overflow: hidden;
  }
  section{
    text-align: center;
  }
}
